.header-logo__logo-url {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.logo-svg {
    width: 100%;
    height: 100%;
}

.header-all__title {
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
}

.header-all {
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}

.header-all__title {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.button-header {
    font-size: 1.8vw;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0; 
    display: inline-block;
}

.button-header:hover {
    color: rgb(109, 9, 9);
    transform: translateY(-2px) scale(1.01);
}

.header-logo__svg {
    size: 1vw;
}


html {
    margin: 0;
    padding: 0;
    background-image: url('@/views/style/img/perg.jpg');
    background-repeat: repeat;        /* повторяем изображение */
    background-size: auto;            /* исходный размер (можно задать, например, 200px, если нужно уменьшить) */
}

/* Чтобы никакой внутренний элемент не перекрывал фон прозрачностью или своим фоном */
#app, .home-view {
    background: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* важно для процентов */
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* занимает всю высоту окна */
}

main {
  flex: 1 0 auto; /* растягивается, занимая свободное место */
}

footer {
  flex-shrink: 0; /* предотвращает сжатие футера */
}