.all-reg_template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 22vw;
}

.reg-form__all-group__all-all {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35vw;
}

.reg-form__all-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7vw;
}

.reg-form__all-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vw;
    align-items: center;
}

.title-reg {
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-reg h2{
    margin: 0.2vw;
}

.all-input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: black;
    font-size: 1.4vw;
    outline: none;
    text-align: center;
    transition: transform 0.7s ease, background-color 0.3s ease;
}

.form-reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.2vw;
}

.form-reg__line-botom {
    width: 90%;
    height: 2px;
    background-color: black;
    pointer-events: none;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.7s ease, background-color 0.3s ease;
    transform-origin: center;
}

.form-reg .form-reg__line-botom {
    transform: scaleX(1);
    background-color: black;
}

.form-reg:hover .form-reg__line-botom{
    transform: scaleX(1.2);
    background-color: rgb(93, 0, 0);
}



.form-reg .all-input {
    transform: translateY(2px);
}

.form-reg:hover .all-input{
    transform: translateY(-2px);
    color: rgb(123, 0, 0);
}




.register_butt__all-item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 24px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    border: none;
    transition: transform 0.3s ease;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

/* Псевдоэлементы для иконок слева и справа */
.register_butt__all-item::before,
.register_butt__all-item::after {
    content: "";
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}
.register_butt__all-item::before {
    margin-right: 10px;
}
.register_butt__all-item::after {
    margin-left: 10px;
}

/* Иконки для конкретных кнопок (у вас одинаковые) */

.register_butt__all-item::before,
.register_butt__all-item::after {
    background-image: url('@/views/style/img/button-img.png');
}

/*  нижняя линии (анимация при наведении) */
.button-line-top,
.button-line-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: transform 0.6s ease, background-color 0.3s ease;
    transform-origin: center;
}

.button-line-top {
    top: 0;
}

.button-line-bottom {
    bottom: 0;
}


/* Эффекты при наведении */
.register_butt__all-item:hover {
    transform: scale(1.1);
}
.register_butt__all-item:hover .button-line-top,
.register_butt__all-item:hover .button-line-bottom {
    transform: scaleX(0.6);
    background-color: black;
}
